ros/ros2_ws/build/
ros/ros2_ws/install/
ros/ros2_ws/log/
non_ros/depth_stream_cpp/build/
non_ros/orbslam3_stream/build/
non_ros/orbslam3_stream/vendor/
non_ros/orbslam3_stream/vocabulary/
.claude/
cuda-keyring_1.1-1_all.deb
non_ros/depth_stream_cpp/build/ 
non_ros/depth_stream_cpp/models
non_ros/voxel_stream/build/
non_ros/common/build/
non_ros/stereo_stream_cpp/build/